*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;
}
li{
    display: inline;
}
ul,h1,li{
    display:inline;
    padding: 10px;
}
ul{
    padding-left: 60%;
}
li{
    color: grey;
}
li:hover{
    color: white;
    cursor: pointer;
}
input{
    width: 60%;
    padding: 16px;  
}
.searchbar{
    padding: 30px;
    text-align: center;
}
img{
    width: 200px;
}
.box{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    width: 220px;  
    padding: 20px;  
}
.box:hover{
    background-color: black;
    color: wheat;
}
.products{
    text-align:center;
}
.about{
    text-align: center;
    margin-top: 30px;
}
 .contact{
    background-color:black;
    color: white;
    text-align: center;
    padding: 45px;

 }   



 


